:root {
  /* Colors */
  --color-background: #FBF8F1;
  --color-yellow: #F8C761;
  --color-navy: #2C273F;
  --color-purple: #585081;
  --color-light-yellow: #FFECC3;
  --color-green: #42644B;
  --color-lilac: #D1C8FF;
  /* Spacing & Sizes */
  --spacing-main: 1.25rem; /* 20px */
  --padding-section: 1.25rem; /* 20px */
  --border-radius-card: 1.25rem; /* 20px */
  --border-radius-button: 1.5em;
  /* Font Sizes */
  --fs-h1: clamp(2rem, 1.55rem + 2.05vw, 3.2rem);
  --fs-h2: clamp(1.5rem, 1.2rem + 1.28vw, 2.4rem);
  --fs-h3: clamp(1.125rem, 1.05rem + 0.32vw, 1.2rem);
  --fs-body: 1rem;
  --fs-menu: clamp(1rem, 0.95rem + 0.25vw, 1.1rem);
  --fs-accent-text: clamp(1.125rem, 1.067rem + 0.256vw, 1.1rem);
  --fs-body-lg: clamp(1rem, 0.95rem + 0.25vw, 1.2rem); /* 16px to 24px */
  /* Font*/
  --font-main: 'Montserrat', sans-serif;
}

@media (min-width: 768px) { /* Tablet (1rem = 18px) */
  :root {
  --spacing-main: 1.66rem; /* ~30px */
  --padding-section: 1.66rem; /* ~30px */
  --border-radius-card: 1.33rem; /* ~24px */
  }
}
@media (min-width: 1280px) { /* Desktop (1rem = 16px) */
  :root {
    --spacing-main: 2.25rem; /* 36px */
    --padding-section: 2rem; /* 32px */
    --border-radius-card: 1.5rem; /* 24px */
  }
}
@media (min-width: 1440px) { /* Large Desktop (1rem = 18px) */
  :root {
    --spacing-main: 2.77rem; /* ~50px */
    --padding-section: 2.5rem; /* 45px */
    --border-radius-card: 1.5rem; /* 27px */
  }
}
@media (min-width: 1920px) { /* XLarge Desktop (1rem = 20px) */
  :root {
    --spacing-main: 3rem; /* 60px */
    --padding-section: 2.5rem; /* 50px */
    --border-radius-card: 1.5rem; /* 30px */
  }
}