---
layout: base.njk
---

<article class="container__item section about-me" id="about">
  <img eleventy:formats="webp" src="/assets/img/Iva Kochneva-bg-transparent.png" alt="{{ alt_ivaPhoto}}" class="about-me__photo">
  <div class="about-me__text">
    {{ content | safe }}
  </div>
</article>

<article class="container__item section">
{% macro renderNavListItem(entry) %}
<li class="main-menu__item{% if entry.url == page.url %} current{% endif %}">
  <a href="{{ entry.url }}">{{ entry.title }}</a>
</li>
{% endmacro %}

{{ you_can_see_my_things }}
{% set navPages = collections.all | eleventyNavigation %}

  <ul>
    {%- for entry in navPages %}
      {% if entry.url.startsWith("/" + page.lang + "/") or (page.lang == "bg" and not entry.url.startsWith("/en/") and not entry.url.startsWith("/ru/")) %}
        {{ renderNavListItem(entry) }}
      {% endif %}
    {%- endfor -%}
  </ul>
</article>